.topnav {
    position:sticky;
    background-color: rgb(16, 120, 231);
    overflow: hidden;
    height: 4vh;
    min-height:30px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5vh 12px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.one {
    display: flex;
    background-image: url('../public/images/Illustration_sans_titre_1.png');
    background-position-x: right;
    background-position-y: top;
    background-size: min(70vw , 800px);
    background-repeat: no-repeat;
    justify-content: right;
    /* margin-top: max(-14vw,-100px); */
    
}
.two {
    display: flex;
    background-size: 100vw;
    width: 100vw;
    justify-content: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: transparent;
}

.tree {
    display: flex;
    background-image: url('../public/images/Illustration_sans_titre.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: max(-14vw);
    width: 100vw;
    height: 70vw;
    flex-direction: column;
    justify-content: center;
  }


.four{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(16, 120, 231);
    color: #ddd;
    
}
.four ul{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0 3vw ;
    justify-content: space-around;

}
.four p {
    display: flex;
    padding: 1vw 2vw ;
    color: #ddd;

}
.four a{
    color: #ddd;
}

.bench{
    background-image: url('../public/images/Illustration_sans_titre_2.png');
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    top: 50vw;
    display: flex;
    justify-self: right;
    justify-content: left;
    background-size: min(70vw , 800px);
    height: min(80vw,950px);
    width: 100vw;
    max-width: 800px;
    max-height: 1152px;

    
}

.logo{
    display: flex;
    position: absolute;
    width: 22vw;
    height: 22vw;
    margin-left: min(12vw,180px);
    max-width: 450px;
    max-height: 450px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: min(10vw,100px);
    
}
.logo h2{
    font-size: 1.2vw;
    background-color: transparent;
    letter-spacing: 0.4vw;
    width: 37vw;
    align-self: center;
    font-weight: normal;



}


.one a{
    display: flex;
}

.two h2{
    display: flex;
    background-color: transparent;
    justify-self: center;
    justify-content: center;
    font-weight: normal;
    font-size: 1.4vw;
    margin-top: 6vw;
    width: 40vw;
    margin-bottom: 7vw;
}
.two h1{
    background-color: transparent;
    

}

.tree h1{
    background-color: transparent;

    font-size: 4vw;
    color: #ddd;
    font-weight: normal;
    
}
.tree h2{

    background-color: transparent;
    font-size: 1.7vw;
    width: 85vw;
    align-self: center;
    color: #ddd;
    padding: 1vw;
    justify-self: center;
    font-weight: normal;

}

.block {
    padding: 5vw;
}

.block h3 {
    font-size: 4vw;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    margin-top: -60px;
    font-weight: normal;

    
}

.paragraphe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.pright{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pright p {

    font-size: 1.7vw;
    line-height: 1.5;
    margin-bottom: 20px;


}


.pright ul {
    margin-bottom: 10px;
    font-size: 1.7vw;
    line-height: 1.5;
    align-self: normal;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }
  
.button {
    display: inline-block;
    background-color: rgb(16, 120, 231);
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: rgb(13, 86, 165);
}

.button:focus {
    outline: none;
}

.button:active {
    background-color: #2980B9;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
.popup p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
  
.popup button {
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
  
.popup button:hover {
    background-color: #0069d9;
}
.lables{
    font-size: 2vw;
    padding-right: 1vw;
}
.lables1 {
    display: inline-block;
    font-size: 2vw;
    
}
.lables2 {

    font-size: 2vw;
    padding-right: 1vw;
    
}

@media only screen and (max-width: 450px) {
    .logo h2{
        font-size: 2.2vw;
    }
    .lables {
        display: none;
        font-size: 1.6vw;
    }
    .lables1 {
        display: none;
        
    }
    .lables2 {
    
        font-size: 30px;
    }


    .two {
        display: flex;
        background-size: 100vw;
        width: 100vw;
        justify-content: center;
        background-repeat: no-repeat;
        object-fit: contain;
        background-color: transparent;
    }
    


    .tree {
        display: flex;
        background-image: url('../public/images/Illustration_sans_titre.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: max(-14vw);
        width: 100vw;
        height: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .four{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(16, 120, 231);
        color: #ddd;
        
    }
    .four ul{
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 0 3vw ;
        justify-content: space-around;
    
    }
    .four p {
        display: flex;
        padding: 1vw 2vw ;
        color: #ddd;
    
    }
    .four a{
        color: #ddd;
    }
    .two h2{
        display: flex;
        background-color: transparent;
        justify-self: center;
        justify-content: center;
    
        font-size: 2.5vw;
        margin-top: 3vw;
        width: 70vw;
    }
    .two h1{
        background-color: transparent;
    
    }
    
    .tree h1{
        background-color: transparent;
   
        font-size: 6vw;
        color: #ddd;
    }
    .tree h2{
    
        background-color: transparent;
        font-size: 2.5vw;
        width: 85vw;
        align-self: center;
        color: #ddd;
        padding: 1vw;
        justify-self: center;
    }


    .block {
        padding: 20px;
    }

    .block h3 {
        font-size: 3vw;
        margin-bottom: 20px;
    }

    .paragraphe {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



    .pright p {
        font-size: 3vw;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .block ul {
        margin-bottom: 10px;
        font-size: 3vw;
        line-height: 1.5;
        list-style: none;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        margin-top: 3vw;
        margin-bottom: 5vw;
    }
    
    .button {
        display: inline-block;
        background-color: rgb(16, 120, 231);
        color: #ffffff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 6vw;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
        
        

}
